body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

/* Thumbnail Size */
.custom-thumbnail {
    width: 500px;  /* Or whatever width you prefer */
    height: auto;  /* Maintain aspect ratio */
    border: 1px solid #ddd;  /* Optional border */
    border-radius: 4px;  /* Optional rounded corners */
}

.card {
    border: 1px solid #ddd; /* Set border style, width, and color */
    border-radius: 7px; /* Round corners, if desired */
    margin-bottom: 10px; /* Add space between cards */
}

h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

/* Border around the input group*/
.input-group {
    border: 2px solid #000000;
    border-radius: 7px;
}

/* Hover effects */
.card:hover {
    border-color: #007BFF;  /* Change border color on hover */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  /* Add a subtle shadow on hover */
    border-radius: 7px;
}

#searchForm:hover {
    border: 1px solid #007BFF;  /* Add a border on hover */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  /* Add a subtle shadow on hover */
    border-radius: 7px;
}
